body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #222;
}

nav a {
    text-decoration: none;
    color: blue;
    margin: 10px;
}

#products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkblue;
}
